body {
  margin: 0;
  padding: 0;
  background-color: #FFF6FC;
  font-family: 'Varela Round', sans-serif;
  background-color: #FFF6FC;
}

/* VIEWVPORTS */

  /*
      320px - Mobile
      768px - Tablet
      1024px - Laptop
      1440px - Laptop L
      2560px - 4K
  */

/* VIEWVPORTS */

/* COLORS */

    /*
      #856084
      #D7C0D0
      #011638
      #2E294E
      #F0A6CA
      #FFF6FC
    */

/* COLORS */

/* SIZE: 320px */
